@font-face {
  font-family: 'Playfair_Display';
  src: url("/fonts/Playfair_Display/playfairDisplay-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Playfair_Display-bold';
  src: url("/fonts/Playfair_Display/playfairDisplay-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Light';
  src: url("/fonts/Roboto/Roboto-Light.ttf") format("truetype"); }

.heading-1 {
  font-family: "Playfair_Display-bold", serif;
  font-size: 3rem;
  letter-spacing: 1px; }

.heading-2,
.heading-3,
.heading-4,
.heading-5 {
  text-transform: uppercase; }

.heading-2 {
  font-family: "Playfair_Display", serif;
  font-size: 2rem; }

.heading-3 {
  font-family: "Playfair_Display", serif;
  font-size: 1.8rem; }

.heading-4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem; }

.heading-5 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem; }

.heading-6 {
  font-family: "Playfair_Display", serif;
  font-size: 1rem;
  letter-spacing: 1px; }

.paragraph {
  letter-spacing: .5px;
  font-family: "Roboto-Light", sans-serif; }

.u-margin-top--xs {
  margin-top: 1rem !important; }

.u-margin-top--s {
  margin-top: 2rem !important; }

.u-margin-top--m {
  margin-top: 4rem !important; }

.u-margin-top--l {
  margin-top: 8rem !important; }

html {
  font-size: 62,5%;
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 90vh min-content 70vh repeat(6, min-content);
  grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(10rem, 1fr) [full-end]; }

.header {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: minmax(6rem, 1fr) auto 1fr;
  grid-template-columns: 10rem minmax(min-content, max-content) 10rem;
  align-content: center;
  justify-items: center;
  position: relative;
  background-image: linear-gradient(to left top, rgba(49, 29, 94, 0.8), rgba(49, 29, 94, 0.8)), url("/images/forest.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden; }

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem; }
  .nav__logo {
    display: block;
    width: 3.5rem;
    height: 3.7rem; }
  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .nav__list--item {
      display: inline;
      padding: .5rem;
      cursor: default; }
      .nav__list--item:not(:last-child) {
        margin-right: 1rem; }
  .nav__link:link, .nav__link:visited {
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in-out; }
  .nav__link:hover {
    color: #00e0d0; }

.about {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  justify-items: center;
  text-align: center;
  color: #fff; }
  .about__text {
    width: 80%; }

.slide-nav {
  grid-column: 2 / 3;
  grid-row: 3 / -1;
  cursor: default; }
  .slide-nav__item {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer; }

.active-img {
  background-color: #00e0d0; }

.story {
  grid-column: center-start / center-end;
  display: grid;
  grid-column-gap: 1rem;
  margin: 6rem 0; }
  .story__img {
    grid-column: col-start 1 / col-end 3;
    align-self: center; }
  .story__text {
    grid-column: col-start 5 / col-end 10; }

.video {
  grid-column: full-start / full-end;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to left, rgba(49, 29, 94, 0.9), rgba(49, 29, 94, 0.9)), url("/images/video.jpg");
  background-size: cover;
  background-position: center;
  color: #fff; }
  .video__play-btn {
    background: none;
    border: none;
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
    transition: all .2s; }
  .video__play-btn:hover {
    transform: scale(1.1); }
  .video__icon {
    font-size: 5rem;
    margin-left: 0;
    display: inline;
    text-align: center;
    color: #fff; }

.features {
  grid-column: center-start / center-end;
  margin: 6rem 0; }
  .features__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .features h6, .features p {
    color: #878786; }
  .features__box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem; }

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center; }
  .feature__icon {
    font-size: 3.5rem;
    background-image: linear-gradient(to right, #00e0d0 40%, #4aa3cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.team {
  grid-column: full-start / full-end;
  padding: 6rem 0;
  background-image: linear-gradient(to left, rgba(49, 29, 94, 0.9), rgba(49, 29, 94, 0.9)), url("/images/forest-2.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff; }
  .team__leaders {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16rem);
    grid-gap: 2rem;
    justify-content: center; }

.leader {
  border: 1px solid #878786;
  padding-bottom: 1rem; }
  .leader-photo {
    width: 100%; }
  .leader p {
    text-transform: uppercase; }

.portfolio {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  margin-bottom: 6rem; }
  .portfolio__about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 6rem 0; }
  .portfolio__about--link:link, .portfolio__about--link:visited {
    color: #878786;
    text-decoration: none;
    transition: all .2s; }
  .portfolio__about--link:hover {
    transform: translateX(10px); }
  .portfolio__about--arrow {
    font-size: 2.5rem;
    vertical-align: sub; }

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); }
  .gallery__item {
    width: 100%;
    height: 100%; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.workers {
  grid-column: full-start / full-end; }

.contact {
  grid-column: center-start / center-end; }

.footer {
  grid-column: full-start / full-end; }

.middle-line-blue {
  width: 60px;
  height: 2px;
  display: block;
  background-color: #00e0d0;
  margin: 1.5rem auto; }

.middle-line-grey {
  width: 60px;
  height: 2px;
  display: block;
  background-color: #878786;
  margin: 1.5rem auto; }

.button {
  display: inline-block; }
  .button:link, .button:visited {
    padding: .5rem .8rem;
    margin: 0 auto;
    border: 1px solid currentColor;
    border-radius: 3px;
    font-size: 1rem;
    color: #00e0d0;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .5s, transform .2s; }
  .button:hover {
    color: #4aa3cc; }
  .button:active {
    transform: translateY(2px); }
