@font-face {
  font-family: 'Playfair_Display';
  src: url("/fonts/Playfair_Display/playfairDisplay-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Playfair_Display-bold';
  src: url("/fonts/Playfair_Display/playfairDisplay-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Light';
  src: url("/fonts/Roboto/Roboto-Light.ttf") format("truetype"); }

.heading-1 {
  font-family: "Playfair_Display-bold", serif;
  font-size: 3rem;
  letter-spacing: 1px;
  line-height: 2.5rem; }
  @media only screen and (max-width: 75rem) {
    .heading-1 {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 43.75rem) {
    .heading-1 {
      font-size: 2rem;
      margin: 0 .2rem; } }

.heading-2,
.heading-3,
.heading-4,
.heading-5 {
  text-transform: uppercase; }

.heading-2 {
  font-family: "Playfair_Display", serif;
  font-size: 2rem; }
  @media only screen and (max-width: 62.5rem) {
    .heading-2 {
      font-size: 1.8rem; } }

.heading-3 {
  font-family: "Playfair_Display", serif;
  font-size: 1.8rem; }

.heading-4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem; }
  @media only screen and (max-width: 62.5rem) {
    .heading-4 {
      font-size: 1.3rem; } }

.heading-5 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem; }

.heading-6 {
  font-family: "Playfair_Display", serif;
  font-size: 1rem;
  letter-spacing: 1px; }
  @media only screen and (max-width: 43.75rem) {
    .heading-6 {
      margin: 0 .2rem; } }

.paragraph {
  letter-spacing: .5px;
  font-family: "Roboto-Light", sans-serif; }

.u-margin-top--xs {
  margin-top: 1rem !important; }

.u-margin-top--s {
  margin-top: 2rem !important; }
  @media only screen and (max-width: 32.5rem) {
    .u-margin-top--s {
      margin-top: 1.5rem !important; } }

.u-margin-top--m {
  margin-top: 4rem !important; }
  @media only screen and (max-width: 62.5rem) {
    .u-margin-top--m {
      margin-top: 3rem !important; } }
  @media only screen and (max-width: 32.5rem) {
    .u-margin-top--m {
      margin-top: 2rem !important; } }

.u-margin-top--l {
  margin-top: 8rem !important; }
  @media only screen and (max-width: 62.5rem) {
    .u-margin-top--l {
      margin-top: 6rem !important; } }
  @media only screen and (max-width: 32.5rem) {
    .u-margin-top--l {
      margin-top: 4rem !important; } }

.u-margin-section {
  margin: 6rem 0 !important; }
  @media only screen and (max-width: 62.5rem) {
    .u-margin-section {
      margin: 4rem 0 !important; } }
  @media only screen and (max-width: 32.5rem) {
    .u-margin-section {
      margin-top: 3rem !important; } }

.u-padding-section {
  padding: 6rem 0 !important; }
  @media only screen and (max-width: 62.5rem) {
    .u-padding-section {
      padding: 4rem 0 !important; } }
  @media only screen and (max-width: 32.5rem) {
    .u-padding-section {
      padding: 2.5rem 0 !important; } }

.u-paragraph-center {
  width: 70%;
  margin: 0 auto; }

html {
  font-size: 62,5%;
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6; }
  @media only screen and (max-width: 43.75rem) {
    body {
      font-size: 1rem; } }

.container {
  display: grid;
  grid-template-rows: 90vh min-content 70vh repeat(6, min-content);
  grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(10rem, 1fr) [full-end]; }
  @media only screen and (max-width: 75rem) {
    .container {
      grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 62.5rem) {
    .container {
      grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; } }

.header {
  grid-column: full-start / full-end;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-image: linear-gradient(to left top, rgba(49, 29, 94, 0.8), rgba(49, 29, 94, 0.8)), url("../images/forest.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden; }

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  transition: all .3s; }
  .nav__logo {
    display: block;
    width: 3.5rem;
    height: 3.7rem; }
  .nav .nav-bg {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-image: linear-gradient(to right top, #09052f, #311d5e);
    z-index: -1;
    transition: .3s; }
  .nav__button {
    position: relative;
    visibility: hidden;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .nav__button--item, .nav__button--item::before, .nav__button--item::after {
      display: block;
      position: absolute;
      width: 30px;
      height: 3px;
      background-color: #fff; }
    .nav__button--item::before {
      content: "";
      transform: translateY(0.6rem); }
    .nav__button--item::after {
      content: "";
      transform: translateY(-0.6rem); }
    @media only screen and (max-width: 62.5rem) {
      .nav__button {
        visibility: visible; } }
  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    transition: .3s; }
    @media only screen and (max-width: 62.5rem) {
      .nav__list {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
  .nav__list--item {
    display: inline;
    padding: .5rem;
    cursor: default; }
    .nav__list--item:not(:last-child) {
      margin-right: 1rem; }
    @media only screen and (max-width: 62.5rem) {
      .nav__list--item {
        display: block;
        text-align: center;
        margin-right: 0 !important; } }
  .nav__link {
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in-out; }
    .nav__link:hover {
      color: #00e0d0; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff; }

.slide-nav {
  grid-column: 2 / 3;
  grid-row: 3 / -1;
  cursor: default; }
  .slide-nav__item {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer; }

.active-img {
  background-color: #00e0d0; }

.scroll-bg {
  background-color: #311d5e; }

.nav-bg-active {
  transform: translateY(0) !important; }

.nav-list-active {
  visibility: visible;
  opacity: 1; }

.story {
  grid-column: center-start / center-end;
  display: grid;
  grid-column-gap: 1rem; }
  @media only screen and (max-width: 43.75rem) {
    .story {
      justify-items: center; } }
  .story__img {
    grid-column: col-start 1 / col-end 3;
    align-self: center; }
    @media only screen and (max-width: 43.75rem) {
      .story__img {
        grid-column: 1 / -1; } }
  .story__text {
    grid-column: col-start 5 / col-end 10;
    margin-right: 2rem; }
    @media only screen and (max-width: 43.75rem) {
      .story__text {
        grid-column: 1 / -1;
        width: 90%;
        margin-right: 0;
        text-align: center; } }

.video {
  grid-column: full-start / full-end;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to left, rgba(49, 29, 94, 0.9), rgba(49, 29, 94, 0.9)), url("../images/video.jpg");
  background-size: cover;
  background-position: center;
  color: #fff; }
  .video__play-btn {
    background: none;
    border: none;
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
    transition: all .2s; }
  .video__play-btn:hover {
    transform: scale(1.1); }
  .video__icon {
    font-size: 5rem;
    margin-left: 0;
    display: inline;
    text-align: center;
    color: #fff; }

.features {
  grid-column: center-start / center-end; }
  .features__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .features h6, .features p {
    color: #878786; }
  .features__box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem; }

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center; }
  .feature__icon {
    font-size: 3.5rem;
    background-image: linear-gradient(to right, #00e0d0 40%, #4aa3cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.team {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to left, rgba(49, 29, 94, 0.9), rgba(49, 29, 94, 0.9)), url("../images/forest-2.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff; }
  .team__leaders {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16rem);
    grid-gap: 2rem;
    justify-content: center; }
    @media only screen and (max-width: 75rem) {
      .team__leaders {
        grid-template-columns: repeat(auto-fit, 14rem); } }
    @media only screen and (max-width: 62.5rem) {
      .team__leaders {
        grid-template-columns: repeat(auto-fit, minmax(16rem, 20rem)); } }

.leader {
  border: 1px solid #878786;
  padding-bottom: 1rem; }
  .leader-photo {
    width: 100%; }
  .leader p {
    text-transform: uppercase; }

.portfolio {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: repeat(3, min-content); }
  .portfolio__about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 6rem; }
    @media only screen and (max-width: 32.5rem) {
      .portfolio__about {
        flex-direction: column;
        margin-bottom: 3rem; } }
  .portfolio__about--link:link, .portfolio__about--link:visited {
    color: #878786;
    text-decoration: none;
    transition: all .2s; }
  .portfolio__about--link:hover {
    transform: translateX(10px); }
  .portfolio__about--arrow {
    font-size: 2.5rem;
    vertical-align: sub; }

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); }
  .gallery__item {
    width: 100%;
    height: 100%; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.people {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to left top, rgba(49, 29, 94, 0.8), rgba(49, 29, 94, 0.8)), url("../images/forest-3.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem; }
  .people__sign {
    font-size: 5rem; }
  .people__slider {
    display: flex;
    justify-content: center;
    align-items: center; }
  .people__arrow--prev, .people__arrow--next {
    background: none;
    border: none;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    padding: .2rem .5rem; }
  .people__arrow--prev {
    margin-right: 2rem; }
  .people__arrow--next {
    margin-left: 2rem; }
  .people__slider--img {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem; }

.contact__form h2, .contact__brands h2 {
  margin-bottom: 2rem; }

.contact__form {
  grid-column: col-start 1 / col-end 4;
  width: 90%; }
  @media only screen and (max-width: 62.5rem) {
    .contact__form {
      grid-column: 3 / 9;
      width: 100%; } }
  @media only screen and (max-width: 43.75rem) {
    .contact__form {
      text-align: center; } }

.contact__box {
  height: 100%;
  display: flex;
  flex-direction: column; }

.contact__box > * {
  margin-bottom: 1rem; }

.contact__input, .contact__textarea {
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  font-size: 1rem;
  color: #a7a6a6;
  border: 1px solid currentColor;
  border-radius: 3px; }

.contact__input:focus, .contact__textarea:focus {
  outline-color: #878786; }

.contact__textarea {
  padding: 1rem;
  width: 100%;
  height: 14rem;
  resize: none; }

.contact__btn {
  align-self: flex-start; }
  @media only screen and (min-width: 43.75rem) {
    .contact__btn {
      margin: 0 !important; } }

.contact__btn:focus {
  outline: none; }

.contact__brands {
  grid-column: col-start 6 / col-end 10; }
  @media only screen and (max-width: 62.5rem) {
    .contact__brands {
      grid-column: 3 / 9;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem; } }

.contact__logos {
  display: grid;
  grid-template-columns: repeat(2, minmax(6rem, 10rem));
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  column-gap: 2rem;
  row-gap: 1rem; }
  @media only screen and (max-width: 62.5rem) {
    .contact__logos {
      grid-template-columns: repeat(auto-fit, minmax(6rem, 10rem));
      grid-template-rows: repeat(2, 1fr);
      width: 100%;
      justify-content: center;
      justify-items: center; } }

.contact__img {
  width: 80%; }

.footer {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: minmax(10rem, 1fr) repeat(3, minmax(18rem, 24rem)) minmax(10rem, 1fr);
  row-gap: 4rem;
  column-gap: 2rem;
  background-image: linear-gradient(to left, rgba(49, 29, 94, 0.9), rgba(49, 29, 94, 0.9)), url("../images/footer_img.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  margin-top: 6rem; }
  @media only screen and (max-width: 75rem) {
    .footer {
      grid-template-columns: 1fr repeat(3, minmax(16rem, 24rem)) 1fr; } }
  @media only screen and (max-width: 62.5rem) {
    .footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .footer > * {
        width: 60%; } }
  @media only screen and (max-width: 32.5rem) {
    .footer {
      margin-top: 3rem; }
      .footer > * {
        width: 90%; } }
  .footer__caption {
    margin: .8rem 0; }
    @media only screen and (max-width: 43.75rem) {
      .footer__caption {
        text-align: center; } }
  .footer__text {
    grid-row: 1 / 2;
    grid-column: 2 / 3; }
    @media only screen and (max-width: 43.75rem) {
      .footer__text {
        text-align: center; } }
  .footer__location {
    grid-row: 1 / 2;
    grid-column: 3 / 4; }
  .footer__subscribe {
    grid-row: 1 / 2;
    grid-column: 4 / 5; }
  .footer__email {
    width: 100%;
    display: flex;
    align-items: center; }
  .footer__input {
    width: 100%;
    padding: .8rem 1.5rem;
    margin-right: .5rem;
    background: none;
    color: #a7a6a6;
    border: 1px solid currentColor; }
  .footer__btn {
    font-size: 1.5rem;
    padding: .45rem 1.4rem;
    opacity: .5;
    border: none; }
    .footer__btn:hover {
      opacity: .8; }
  .footer__social--link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #fff;
    border-radius: 50%;
    text-decoration: none;
    color: #fff; }
    .footer__social--link:not(:last-child) {
      margin-right: 2px; }
    .footer__social--link:hover {
      background: #fff; }
    .footer__social--link:hover i {
      color: #09052f; }
  .footer .youtube-icon {
    margin-bottom: -6px; }
  .footer__privacy {
    grid-row: 2 / 3;
    grid-column: 2 / 5;
    text-align: left; }
    @media only screen and (max-width: 62.5rem) {
      .footer__privacy {
        text-align: center; } }
  @media only screen and (max-width: 32.5rem) {
    .footer__side {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .footer__side--link {
    text-decoration: none;
    color: #fff;
    transition: all .3s ease-in-out; }
    .footer__side--link:not(:last-child) {
      margin-right: 3rem; }
      @media only screen and (max-width: 32.5rem) {
        .footer__side--link:not(:last-child) {
          margin-right: 0;
          margin-bottom: .5rem; } }
    .footer__side--link:hover {
      color: #00e0d0; }
  .footer__right {
    grid-row: 2 / 3;
    grid-column: 2 / 5;
    text-align: right; }
    @media only screen and (max-width: 62.5rem) {
      .footer__right {
        text-align: center;
        margin: -2rem 0; } }
  .footer__license {
    grid-row: 3 / 4;
    grid-column: 2 / 5;
    text-align: right; }
    @media only screen and (max-width: 62.5rem) {
      .footer__license {
        text-align: center;
        margin: -2rem 0; } }
  .footer__license--link {
    color: #fff;
    transition: all .3s ease-in-out; }
    .footer__license--link:hover {
      color: #00e0d0; }

.middle-line-blue {
  width: 60px;
  height: 2px;
  display: block;
  background-color: #00e0d0;
  margin: 1.5rem auto; }

.middle-line-grey {
  width: 60px;
  height: 2px;
  display: block;
  background-color: #878786;
  margin: 1.5rem auto; }

.button {
  display: inline-block;
  background: none;
  padding: .8rem 1rem;
  margin: 0 auto;
  border: 1px solid currentColor;
  border-radius: 3px;
  font-size: 1rem;
  color: #00e0d0;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: color .5s, transform .2s;
  cursor: pointer; }
  .button:hover {
    color: #4aa3cc; }
  .button:active {
    transform: translateY(2px); }
