// ...COLORS...
$color-white: #fff;

$color-blue-light: #00e0d0;
$color-blue-dark: #4aa3cc;

$color-fiolet-light: #311d5e;
$color-fiolet-dark: #09052f;

$color-grey: #413d4b;

// ...FONTS...

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Playfair_Display', serif;