.popup-video {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color-fiolet-dark, .8);
    z-index: 1000;
    overflow: hidden;
    visibility: hidden;
    transition: .2s ease-in; 

    &__item {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 50rem;
        max-height: 30%;

        @media only screen and (max-width: $mq-xs) {
            width: 90%;
        }
    }
}

.close-btn {
    display: flex;
    justify-content: center;

    position: fixed;
    width: 4rem;
    height: 4rem;
    top: 4rem;
    right: 5rem;
    cursor: pointer;

    @media only screen and (max-width: $mq-xs) {
        top: 2rem;
        right: 2rem;
    }

    &__item {
        display: block;
        width: .5rem;
        height: 4rem;
        background-color: $color-white;
        border-radius: 3rem;
        transform: rotate(45deg);
        transition: .2s ease-in;

        &::before {
            content: "";
            display: block;
            width: .5rem;
            height: 4rem;
            background-color: $color-white;
            border-radius: 3rem;
            transform: rotate(90deg);
            transition: .2s ease-in;
        }
    }
}

.close-btn:hover > .close-btn__item {
    background-color: $color-grey-light;
}

.close-btn:hover > .close-btn__item::before {
    background-color: $color-grey-light;
}