// ...FONTS...
@font-face {
    font-family: 'Playfair_Display';
    src: url('/fonts/Playfair_Display/playfairDisplay-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Playfair_Display-bold';
    src: url('/fonts/Playfair_Display/playfairDisplay-Black.ttf') format("truetype");
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('/fonts/Roboto/Roboto-Light.ttf') format("truetype");
}

.heading-1 {
    font-family: $font-secondary-bold;
    font-size: 3rem;
    letter-spacing: 1px;

    @media only screen and (max-width: $mq-lg) {
        font-size: 2.5rem;
    }
}

.heading-2,
.heading-3,
.heading-4,
.heading-5 {
    text-transform: uppercase;
}

.heading-2 {
    font-family: $font-secondary;
    font-size: 2rem;

    @media only screen and (max-width: $mq-md) {
        font-size: 1.8rem;
    }
}

.heading-3 {
    font-family: $font-secondary;
    font-size: 1.8rem;
}

.heading-4 {
    font-family: $font-primary;
    font-size: 1.5rem;

    @media only screen and (max-width: $mq-md) {
        font-size: 1.3rem;
    }
}

.heading-5 {
    font-family: $font-primary;
    font-size: 1.2rem;
}

.heading-6 {
    font-family: $font-secondary;
    font-size: 1rem;
    letter-spacing: 1px;
}

.paragraph {
    letter-spacing: .5px;
    font-family: $font-primary-light;
}