// *********MARGIN********** //

.u-margin-top--xs {
    margin-top: 1rem !important;
}

.u-margin-top--s {
    margin-top: 2rem !important;

    @media only screen and (max-width: $mq-xs) {
        margin-top: 1.5rem !important
    }
}

.u-margin-top--m {
    margin-top: 4rem !important;

    @media only screen and (max-width: $mq-md) {
        margin-top: 3rem !important;
    }

    @media only screen and (max-width: $mq-xs) {
        margin-top: 2rem !important
    }
}

.u-margin-top--l {
    margin-top: 8rem !important;

    @media only screen and (max-width: $mq-md) {
        margin-top: 6rem !important;
    }

    @media only screen and (max-width: $mq-xs) {
        margin-top: 4rem !important
    }
}

.u-margin-section {
    margin: 6rem 0 !important;

    @media only screen and (max-width: $mq-md) {
        margin: 4rem 0 !important;
    }

    @media only screen and (max-width: $mq-xs) {
        margin-top: 3rem !important
    }
}

// **********PADDING********** //

.u-padding-section {
    padding: 6rem 0 !important;

    @media only screen and (max-width: $mq-md) {
        padding: 4rem 0 !important;
    }

    @media only screen and (max-width: $mq-xs) {
        padding: 2.5rem 0 !important;
    }
}

// **********TEXT********** //

.u-paragraph-center {
    width: 70%;
    margin: 0 auto;
}

// **********ANIMATION********** //

.display {
    opacity: 1 !important;
    transition: 0.5s ease-out;
    transform: translateX(0) !important;
}