// ********** COLORS ********** //

$color-white: #fff;

$color-blue-light: #00e0d0;
$color-blue-dark: #4aa3cc;

$color-fiolet-light: #311d5e;
$color-fiolet-dark: #09052f;

$color-grey: #878786;
$color-grey-light: #a7a6a6;

// ********** FONTS ********** //

$font-primary: 'Roboto', sans-serif;
$font-primary-light: 'Roboto-Light', sans-serif;

$font-secondary: 'Playfair_Display', serif;
$font-secondary-bold: 'Playfair_Display-bold', serif;

// ********** MEDIA ********** //

$mq-big: 100em;     // 1600px
$mq-lg: 75em;     // 1200px
$mq-md: 62.5em;     // 1000px
$mq-sm: 43.75em;     // 700px
$mq-xs: 32.5em;     // 520px
