
// .contact {
//     grid-column: center-start / center-end;
// }

.contact__form {
    grid-column: col-start 1 / col-end 4;

    margin-top: 6rem;

    &--box {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.contact__brands {
    grid-column: col-start 6 / col-end 10;

    margin-top: 6rem;

    &--logos {
        display: grid;
        grid-template-columns: repeat(2, minmax(6rem, 10rem));
        grid-template-rows: repeat(5, 1fr);
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
        row-gap: 1rem;
    }

    &--img {
        width: 80%;
    }

}