.features {
    grid-column: center-start / center-end;

    &__about {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h6, p {
        color: $color-grey;
    }

    &__box {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-gap: 2rem;
    }
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
    text-align: center;


    &__icon {
        font-size: 3.5rem;
        background-image: linear-gradient(to right, $color-blue-light 40%, $color-blue-dark);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
}