.header {
    grid-column: full-start / full-end;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    position: relative;
    background-image: linear-gradient(to left top, rgba($color-fiolet-light, .8), rgba($color-fiolet-light, .8)), url("../images/forest.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

 // **********NAVIGATION********** //

.nav { 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    transition: all .3s;

    &__logo {
        display: block;
        width: 3.5rem;
        height: 3.7rem;
    }

    .nav-bg {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        background-image: linear-gradient(to right top, rgba($color-fiolet-dark, 1), rgba($color-fiolet-light, 1));
        z-index: -1;
        transition: .3s;
    }

    // *****HAMBURGER***** //
    &__button {
        position: relative;
        visibility: hidden;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &--item,
        &--item::before,
        &--item::after {
            display: block;
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: $color-white;
        }

        &--item::before {
            content: "";
            transform: translateY(0.6rem);
        }

        &--item::after {
            content: "";
            transform: translateY(-0.6rem);
        }

        @media only screen and (max-width: $mq-md) {
            visibility: visible;
        }

    }

    // ***** ***** //

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        transition: .3s;

        @media only screen and (max-width: $mq-md) {
            position: fixed;
            visibility: hidden;
            opacity: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

    }
    
    &__list--item {
        display: inline;
        padding: .5rem;
        cursor: default;

        &:not(:last-child) {
            margin-right: 1rem;
        }

        @media only screen and (max-width: $mq-md) {
            display: block;
            text-align: center;
            margin-right: 0 !important;
        }
    }

    &__link {
        color: $color-white;
        text-decoration: none;
        transition: all .3s ease-in-out;

        &:hover { color: $color-blue-light; }
    }

}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    color: $color-white;
}

.slide-nav {
    grid-column: 2 / 3;
    grid-row: 3 / -1;
    cursor: default;
    
    &__item {
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid $color-white;
        border-radius: 50%;
        cursor: pointer;
    }
}

.active-img {
    background-color: $color-blue-light;
}

// ********** NAV ANIMATION ********** //

.scroll-bg {
    background-color: $color-fiolet-light;
}

.nav-bg-active {
    transform: translateY(0)!important;
}
    

.nav-list-active {
    visibility: visible;
    opacity: 1;
}