.header {
    grid-column: full-start / full-end;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    position: relative;
    background-image: linear-gradient(to left top, rgba($color-fiolet-light, .8), rgba($color-fiolet-light, .8)), url("/images/forest.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

 // **********NAVIGATION********** //

.nav { 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

    &__logo {
        display: block;
        width: 3.5rem;
        height: 3.7rem;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;

        &--item {
            display: inline;
            padding: .5rem;
            cursor: default;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }


    &__link:link,
    &__link:visited {
        color: $color-white;
        text-decoration: none;
        transition: all .3s ease-in-out;
    }

    &__link:hover {
        color: $color-blue-light;
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    color: $color-white;
}

.slide-nav {
    grid-column: 2 / 3;
    grid-row: 3 / -1;
    cursor: default;
    
    &__item {
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid $color-white;
        border-radius: 50%;
        cursor: pointer;
    }
}

.active-img {
    background-color: $color-blue-light;
}