.people {
    grid-column: full-start / full-end;

    background-image: linear-gradient(to left top, rgba($color-fiolet-light, .8), rgba($color-fiolet-light, .8)), url("../images/forest-3.jpg");
    background-size: cover;
    background-position: center;
    color: $color-white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-bottom: 4rem;

    &__sign {
        font-size: 5rem;
    }

    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__arrow--prev,
    &__arrow--next {
        background: none;
        border: none;
        font-size: 3rem;
        color: $color-white;
        cursor: pointer;
        padding: .2rem .5rem;
    }

    &__img-container {
        width: 22rem;
        height: 7rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img-container--img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        filter: grayscale(.8);
        margin: 0 1rem;
        transition: all .3s ease-out;
    }
}

.img-active {
    width: 5rem;
    filter: grayscale(0);
    height: 5rem;
}
