.portfolio {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: repeat(3, min-content);

    &__about {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 6rem;
        opacity: 0;
        transform: translateY(50px);

        @media only screen and (max-width: $mq-xs) {
            flex-direction: column;
            margin-bottom: 3rem;
        }
    }

    &__about--link {

        &:link,
        &:visited {
            color: $color-grey;
            text-decoration: none;
            transition: all .2s;
        }

        &:hover { transform: translateX(10px); }
    }

    &__about--arrow {
        font-size: 2.5rem;
        vertical-align: sub;
    }
}

.gallery {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);

    @media only screen and (max-width: $mq-md) {
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    }

    &__item {
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}