.story {
    grid-column: center-start / center-end;

    display: grid;
    grid-column-gap: 1rem;

    @media only screen and (max-width: $mq-sm) {
        justify-items: center;
    }

    &__img {
        grid-column: col-start 1 / col-end 3;
        align-self: center;
        opacity: 0;
        transform: translateY(100px);

        @media only screen and (max-width: $mq-sm) {
            grid-column: 1 / -1;
        }
    }

    &__text {
        grid-column: col-start 5 / col-end 10;
        margin-right: 2rem;
        opacity: 0;
        transform: translateX(50px);
        
        @media only screen and (max-width: $mq-sm) {
            grid-column: 1 / -1;
            width: 90%;
            margin-right: 0;
            text-align: center;
        }
    }
}