.team {
    grid-column: full-start / full-end;

    background-image: linear-gradient(to left, rgba($color-fiolet-light, .9), rgba($color-fiolet-light, .9)), url("../images/forest-2.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: $color-white;

    &__leaders {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, minmax(14rem, 18rem));
        justify-content: center;

        @media only screen and (max-width: $mq-md) {
            grid-template-columns: repeat(auto-fit, minmax(16rem, 26rem));
        }
    }
}

.leader {
    border: 1px solid $color-grey;
    padding-bottom: 1rem;
    margin: 0 1rem 1rem 1rem;

    &-photo {
        width: 100%;
    }

    p {
        text-transform: uppercase;
    }

}